<div class="container">
    <form method="POST">
        <h3>Edit Profile</h3>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">F</span>
            <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{user.first_name}}" required/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">L</span>
            <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{user.last_name}}" required/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">@</span>
            <input type="email" class="form-control" placeholder="Email" name="email" value="{{user.email}}" required/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">Y</span>
            <input type="number" class="form-control" placeholder="Graduation Year" name="grad_year" min="2012" max="9999" value="{{user.grad_year}}" required/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">C</span>
            <select class="form-control" name="pledge_class_id">
                {{#each pledge_classes}}
                <option value="{{id}}" {{#ifeq ../user.pledge_class_id id}}selected{{/ifeq}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">S</span>
            <select class="form-control" name="member_status_id">
                {{#each member_statuses}}
                <option value="{{id}}" {{#ifeq ../user.member_status_id id}}selected{{/ifeq}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">R</span>
            <select class="form-control" name="member_role_id">
                {{#each member_roles}}
                <option value="{{id}}" {{#ifeq ../user.member_role_id id}}selected{{/ifeq}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group input-group-lg">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </form>
</div>