doctype html
html
    head
        title ktp web app
        link(rel='shortcut icon',type='image/ico',href='/img/favicon.ico')
        link(rel='stylesheet', href='/css/app.min.css')
        link(rel='stylesheet', href='/appstyles/login.css')
    body
        .header
            img(src=member.prof_pic_url)
            .name
                h1= member.first_name + " " + member.last_name
        .content
            .firstWrapper
                .personal.boxEffect
                    h2 Personal
                    p= "Uniqname: " + member.uniqname
                    p= "Year: " + member.year
                    p= "Major: " + member.major
                    p= "Gender: " + member.gender
                    p= "Hometown: " + member.hometown
                .fraternity.boxEffect
                    h2 Fraternity
                    p= "Pledge Class: " + member.pledge_class
                    p= "Status: " + member.membership_status
                    p= "Role: " + member.role
                    p= "Main Committee: " + member.main_committee
            .bio
                if(member.biography)
                    p= member.biography
                else
                    p Biography will go here
        a(href='/app/pitch/new') new pitch
        br
        a(href='/app/pitch/all') see all pitches

        script(src='/lib/js/jquery.min.js')
        script(src='/js/app.js')