extends ../main
block content
    .content
    if member.role == 'Member' || member.role == 'Pledge'
        h1 I am a member!
    else
        h1 I am admin!
        table(id="taskTable")
            thead
                tr
                    th Title
                    th Description
                    th Proof
                    th Points
                    th Points Earned
                    th Minimum Pledges
                    th Repeatable
            tbody
                each task in tasks
                    tr
                        td= task.title
                        td= task.description
                        td= task.proof
                        td= task.points
                        td= task.points_earned
                        td= task.minimum_pledges
                        td= task.repeatable