extends ../main
block content
    .header
        img(src=member.prof_pic_url)
        .name
            h1= member.first_name + " " + member.last_name
    .content_edit
        h2 Edit your Profile Data
        form.info.describe(id="profileEdit",action="/app/profile/update",method="post")
            .data
                p Uniqname
                input(type="text",name="uniqname",value=member.uniqname)
            .data
                p Year
                input(type="text",name="year",value=member.year)
            .data
                p Major
                input(type="text",name="major",value=member.major)
            .data           
                p Gender
                input(type="text",name="gender",value=member.gender)
            .data
                p Hometown
                input(type="text",name="hometown",value=member.hometown)
            .data
                p Pledge Class
                input(type="text",name="pledge_class",value=member.pledge_class)
            .data
                p Status
                input(type="text",name="membership_status",value=member.membership_status)
            .data
                p Role
                input(type="text",name="role",value=member.role)
            .data
                p Main Committee
                input(type="text",name="main_committee",value=member.main_committee)
            .data
                p Biography
                input(type="text",name="biography",value=member.biography)
            input(type="submit",id="submitProfile",value="Save")