extends ../main
block content
	.members
		h2 The Brothers
		each member in members
			.memberBox(data-click=member._id)
				.memberBoxFirst
					p= member.first_name + " " + member.last_name
				.memberBoxMore(data-toggle=member._id)
					.member-one-third.member-frat-info
						h3= "Basic Info"
						p= member.role
						p= member.pledge_class + ' Class'
						p= member.major + ', ' + member.year
						p= 'Hails from ' + member.hometown
					.member-one-third.member-contact-info
						h3= 'Contact Info'
						p
							a(href='http://facebook.com/' + member.facebook)= 'Facebook'
						p
							a(href='http://twitter.com/' + member.twitter)= 'Twitter'
						p
							a(href='http://linkedin.com/in/' + member.linkedin)= 'LinkedIn'
						p
							a(href='http://' + member.personal_site)= 'Website'
						p
							a(href='mailto:' + member.uniqname + '@umich.edu')= member.uniqname + '@umich.edu'
					.member-one-third.member-bio
						h3= 'Bio'
						p= member.biography
					