<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{!-- <a class="navbar-brand" href="/">
                <img alt="ΚΘΠ" src="/static/img/logos/ktp-logo-lg.png" height="25"/>
            </a> --}}
            {{#if user}}
            <p class="navbar-text"><a class="navbar-link" href="/profile">Hi, {{user.first_name}}!</a></p>
            {{/if}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {{#if user}}
                <li><a href="/profile">Profile</a></li>
                {{else}}
                <li><a href="/members">Members</a></li>
                <li><a href="/contact">Contact</a></li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav pull-right">
                {{#if user}}
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li class="pull-right"><a class="pull-right" href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{{#if alert_error}}
<div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{alert_error}}
</div>
{{/if}}
{{#if alert_success}}
<div class="alert alert-success">
    <span class="glyphicon glyphicon-ok-sign"></span>
    {{alert_success}}
</div>
{{/if}}